/* ---------- */
/* CSS Resets */
/* ---------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------- */
/* Color Variables */
/* ----------------*/
:root {
      /* Color Palette URL: https://colorhunt.co/palette/006e7ff8cb2eee5007b22727 */

      /* These are HSL values. Be sure to wrap variable in hsl() */
      --clr-teal: 188 100% 25%;
      --clr-yellow: 47 94% 58%;
      --clr-orange: 19 94% 48%;
      --clr-red: 0 64% 43%;
      --clr-green: 144 90% 33%;
}

/* ------------- */
/* Custom Styles */
/* ------------- */

body {
      color: whitesmoke;
      font-family: 'Montserrat', sans-serif;
      background-color: hsl(var(--clr-teal));
}

main.app {
      z-index: 0;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

h1 {
      font-size: 4rem;
}

.instructions {
      font-size: 1.2rem;
      margin-bottom: 2rem;
}

.button-container {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      margin-bottom: 1rem;
}

.button-container button {
      background-color: inherit;
      aspect-ratio: 1;
      border: none;
}

 .button-container button:hover i {
      color: hsl(var(--clr-orange));
      transition: all 200ms ease-in-out;
 }

i {
      font-size: 5rem;
      color: hsl(var(--clr-yellow));
      padding: 1rem;
      transition: all 150ms ease-in-out;
      cursor: pointer;
}

#results-output {
      font-size: 1.2rem;
      margin-bottom: 2rem;
}

.scoreboard-title {
      font-size: 2.5rem;
      font-weight: 700;
      border-bottom: solid 2px whitesmoke;
      margin-bottom: 1rem;
}

.scoreboard {
      display: flex;
      flex-direction: row;
      gap: 3rem;
}

.computer-score {
      display: flex;
      flex-direction: column;
      align-items: center;
}

.player-score {
      display: flex;
      flex-direction: column;
      align-items: center;

}

.computer-score p,
.player-score p {
      font-size: 1.5rem;
      font-weight: 500;
}

#computer-score-output,
#player-score-output {
      font-size: 3rem;
      font-weight: 500;
}

.function-test {
      /* I set this to visibility:hidden instead of display:none because it shows a funny message if you find it and click it */
      visibility: hidden;      

      cursor: pointer;
      margin-block: 2rem;
      padding: 0.7rem 1.5rem;
      font-size: 1.2rem;
      background-color: inherit;
      color: inherit;
      border: solid 3px whitesmoke;
      border-radius: 5px;
      transition: background-color 150ms ease-in-out;
}

.function-test:hover {
      background-color: hsl(var(--clr-orange));
      transition: background-color 200ms ease-in-out;
}

.modal {
      visibility: visible;
      z-index: 1;

      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: rgba(0, 0, 0, 0.5)
}

.modal-content {
      background-color: hsl(var(--clr-green));
      padding: 2rem 3rem;
      border: 3px solid rgba(0, 0, 0, 0.8);
      border-radius: 5px;
      
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

.game-message {
      font-size: 3.5rem;
      font-weight: 700;
}

.game-winner {
      font-size: 3.5rem;
      font-weight: 500;
}

.final-score-header {
      font-size: 2rem;
}

.game-final-score {
      display: flex;
      flex-direction: row;
      gap: 2rem;    
}


.computer-final-score-container p,
.player-final-score-container p {
      font-size: 1.5rem;
      font-weight: 500;
}

.computer-final-score-output,
.player-final-score-output {
      font-size: 3rem;
      font-weight: 500;
}

.computer-final-score-container,
.player-final-score-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

.restart-game {
      margin-top: 2rem;
      cursor: pointer;
      
      border: solid 3px whitesmoke;
      border-radius: 5px;
      background-color: inherit;
      color: whitesmoke;
      padding: 0.6rem 1rem;
      font-size: 1.2rem;
      font-weight: 500;
      transform: scale(1);
      transition: all 150ms ease-in-out;
      transition-property: transform, background-color;
}

.restart-game:hover {
      transform: scale(1.1);
      background-color: #666;
      transition: all 200ms ease-in-out;
      transition-property: transform, background-color;
}


